.signup_container {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 250, 253, 0.5);
}

.signup_container .signup_box {
    display: flex;
    height: 600px;
    width: 500px;
    border-radius: 15px;
    background-color: white;
    /* background-color: aliceblue; */
    -webkit-box-shadow: 3px 2px 35px -29px rgba(211,0,98,0.3);
    -moz-box-shadow: 3px 2px 35px -29px rgba(211,0,98,0.3);
    box-shadow: 3px 2px 35px -29px rgba(211,0,98,0.3);
    justify-content: center;
    align-items: center;
}

.signup_container .signup_box .content_wrapper {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    justify-content: center;
    align-items: center;

}

.signup_container .signup_box .content_wrapper .up {
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: center;
    align-items: center;


}

.signup_container .signup_box .content_wrapper .up p {
    font-size: 25px;
    font-weight: 600;
    color:  #0D0A29;
}

.signup_container .signup_box .content_wrapper .down {
    display: flex;
    height: 85%;
    width: 80%;
    width: 80%;
    flex-direction: column;
    align-items: center;
}

.signup_container .signup_box .content_wrapper .down input {
    width: 100%;
    height: 40px;
    border: 2px solid #0D0A29;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(209, 204, 253, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 30px;
}

.signup_container .signup_box .content_wrapper .down button {
    width: 60%;
    height: 40px;
    border: none;
    background-color: #0064D1;
    /* background-color: #D30062; */
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 30px;
}

.signup_container .signup_box .content_wrapper .down p{
    font-weight: 500;
    color: #0D0A29;
    margin-top: 15px;
    font-size: 13px;
}